@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond|Philosopher|Playball|Poiret+One&display=swap');

* {
  box-sizing: border-box;
  font-family: "Philosopher", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.2;
  background-color: #F3F3F3;
}

.nav {
  float: right;
  text-decoration: none;
  margin-top: 31px;
  list-style-type: none;
  overflow: hidden;
  width: 80px;
  padding: 8px 0;
  text-align: center;
  border: 1px solid white;
  color: #007F7D;
  font-weight: bold;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  font-family: "Poiret One", cursive;
  background-color: #FFD02E;
}

.nav:hover {
  background-color: lightgrey;
  border-color: #A51B1E;
  font-size: 18x;
  color: white;
}

a {
  text-decoration: none;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100px;
  background-color: #007F7D;
}

.fixed-nav-bar:last-child {
  padding-right: 20px;
}

header section {
  margin-top: 20px;
  width: 420px;
}

#company-logo {
  float: left;
  margin-left: 20px;
}

#company-name {
  display: inline;
  margin-left: 20px;
  line-height: 65px;
  font-family: "Playball", cursive;
  font-size: 50px;
  color: #F3F3F3;
}

main {
  height: 100%;
  width: 100%;
  margin-top: 120px;
  margin-bottom: 200px;
  padding-bottom: 200px;
}

sidebar {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border: 1px solid #FFD02E;
  width: 18%;
  padding: 10px;
  overflow: auto;
}

#content {
  display: inline-block;
	vertical-align: top;
	height: 100%;
	overflow: auto;
}

sidebar, #form-container {
  margin: 10px;
}

sidebar h2 {
  margin-bottom: 30px;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
}

.results {
  list-style: disc inside;
  padding-left: 20px;
}

#form-container {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  border: 0.25px solid #FFD02E;
  width: 78%;
  overflow: auto;
  margin-bottom: 100px;
}

.image {
  width: 33.33%;
  border: 1px solid #FFD02E;
  float: right;
  text-align: center;
  padding-bottom: 5px;
}

label {
  font-size: 14px;
}
#form-container img {
  width: 80%;
  margin: 0 auto;
  padding-top: 8px;
}

#vote {
  text-align: center;
  width: 100%;
  height: 60px;
  clear: right;
  padding: 10px 0;
}

#vote input {
  width: 68%;
  height: 40px;
  font-family: "Playball", cursive;
  font-size: 22px;
  background-color: #FFD02E;
  border-radius: 5px;
}

#blurb-section {
  padding: 10px;
  border-top: 1px solid #FFD02E;
}

footer {
  font-family: "Poiret One", cursive;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  font-size: 14px;
  text-align: center;
  background-color: #E5E5E3;
}